
<div id="googleMapHolder" style="width:340px;height:150px;overflow-y: no-display" align="center" >
    <fieldset style="width:300px;height:150px;;margin-left: none">
    <legend style="position:relative;float:left;background:white;top:-10px;font-size:12px">Insert Appointment Slot</legend>
    <div align=center style="margin-top:20px;">
        <table style="background:none;width:100%;height:100%">
        <form method="post" action="{$_subdomain}/Diary/insertSlot">
            {for $i=0 to $sTypes|@count-1}
                {if $sTypes[$i].Description!="ANY"}<tr><td style="background:none;text-align: right" >{$sTypes[$i].Description}</td> <td style="background:none"><input type="radio" name="slotInsert" value="{$sTypes[$i].AppointmentAllocationSlotID}"></td></tr>{/if}
            {/for}
        
       <tr><td colspan=2  style="background:none;text-align:left;" align=center> 
               <button style="float:left" class="btnStandard" type="Submit">Create appointment slot</button>
           <button type="button" style="float:right" class="btnStandard" onclick="$.colorbox.close()">Cancel</button></td></tr>
        </form>
    </table>
    </div>
            
  </fieldset>
            
    </div>

<!--        end job  details field set    -->
     
 
         