/* 
    Document   : wallboard stylesheet
    Created on : Nov 14, 2012, 11:35:40 AM
    Author     : AidaP
    Description:
        Purpose of the stylesheet follows.
*/

body, html {width:100%; height: 100%; margin:0px; padding:0px;}
table#wall_board {
height:100%;
margin:auto;
border-collapse: collapse; 
}

table#wall_board tbody tr td{
        width:16%;
        /*padding:2%;*/
        border-right:1px solid #fff;
        border-width:0px 1px 1px 0px;
}
table#wall_board tbody tr th{
        width:16%;
        /*padding:1%;*/
}

h1.fittext1,h5.fittext1{
        /*font-size:100%;*/
        /*background: rgba(0,0,0,0.1);*/
        text-align: center;
=       font: 70%; /* 5.9vw */
        font-family: Arial,Helmet,Freesans,sans-serif;
        text-transform: uppercase;
        display: inline-block;
        -webkit-text-stroke: 1px black;
   color: #fff;
   text-shadow:
       2px 2px 0 #000,
     -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000;
        width: 100%;
        margin: 1% auto 1%;
}

table#wall_board tbody tr th h2{
        /*background: rgba(0,0,0,0.1);*/
        text-align: center;
        color:#fff;
        font-size: 200%;
        font-family: Arial,Helmet,Freesans,sans-serif;
        text-transform: uppercase;
        display: inline-block;
        text-shadow: 3px 3px 3px #333;
        filter: dropshadow(color=#333, offx=3, offy=3);
        width: 100%;
        margin: 1% auto 1%;
}

table#wall_board tbody tr th span{
        text-align: center;
        color:#fff;
        font-size: 150%;
        font-family:"Impact", sans-serif;
        text-transform: uppercase;
        display: inline-block;
        text-shadow: 3px 3px 3px #333;
    filter: dropshadow(color=#333, offx=3, offy=3);
        width: 100%;
        margin: 1% auto 1%;
}

table#wall_board tbody tr td h1.fittext1.black_shadow{
        text-shadow: 5px 5px 3px #000;
    filter: dropshadow(color=#000, offx=3, offy=3);
}

table#wall_board tbody tr td h1.fittext1.blue_shadow{
        text-shadow: 5px 5px 3px #082649;
    filter: dropshadow(color=#082649, offx=3, offy=3);
}