html{
	/*background:url(../img/background.png) repeat;*/
	margin:0px;
	padding:0px;
	overflow-y:scroll;
}
body{
	//background-color:transparent;
	text-transform:none;
	/*scrollbar-face-color: #D5D5FF;
    scrollbar-track-color: #D5D5FF;
    scrollbar-shadow-color: #0000A0;
    scrollbar-darkshadow-color: #EFEFEF;
    scrollbar-arrow-color: #0000FF;
    scrollbar-3dlight-color: #020202;
    scrollbar-highlight-color: #8080FF;*/
}
.background{
	position:relative;
	background:transparent;
	
}
.wrapper{
	background:#fff;
	width:950px;
	margin:0 auto;
	position:relative;
	/*-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;*/
	padding-top:10px;
	/*border:1px solid #aaa;
	-moz-box-shadow: 4 4 8px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 4 4 8px rgba(0, 0, 0, 0.7);
	box-shadow: 4 4 8px rgba(0, 0, 0, 0.7);*/
	height:100%;
	min-height:50em;
	padding:5px;
}
#container {
	width: 950px;
	height: 98%;
	max-height: 660px; 
	min-height: 600px; /* min height = gauge panel height + menu-panel height + minimum chart panel height */
	margin:5px auto;
	background:#ffffff;
}
#menu-panel {
	margin: 0;
}
#left-panel {
	width: 606px;
	margin: 0 10px 0 10px;
	float: left;
}
#right-panel {
	width: 302px;
	margin: 0;
	float: left;
}
#gauge-panel {
	width: 100%;
	height: 360px;
}
#chart-panel {
	width: 100%;
	margin: 5px 0 0 0;
}
.one, .two, .three, .four{
position:absolute;
width:200px;
height:380px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-top-left: 10px;
-moz-border-radius-top-right: 10px;
-moz-border-radius-bottom-left: 10px;
-moz-border-radius-bottom-right: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background: -moz-linear-gradient(center top , #FFFFFF, #e0f1f9 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
border: 1px solid #E5E5E5;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
font: 13px/100% Verdana,Tahoma,sans-serif;
outline: 0 none;
width: 200px;
}
.one, .two, .three, .four{
	background:url(../img/background-lighter.png) repeat;
	top:60px;
}
.one{
	left:20px;
}
.two{
	left:250px;
}
.three{
	left:480px;
}
.four{
	right:20px;
}
.three-four{
	position:absolute;
	left:695px;
	width:30px;
	top:90px;
	z-index:1;
}
.five{
	position:absolute;
	top:480px;
	left:0px;
}
.column_list{
background:#3CA2C0; color:#fff; text-align:left; padding:5px; border:1px solid #3297C2; margin:0px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.one li, .two li, .three li, .four li{
	list-style-type:none;
	padding: 5px 0px 5px 10px;
	border-bottom: 1px dashed #ddd;
	color:#333;
}
.big-panel{
	background:url(../img/background-lighter.png) repeat;
	position:absolute;
	float:left;
	width:940px;
	margin:0 10px;
	top:80;
	left:0;
	}
        
/* legend / legend_chart split temporary while performace pages are spilt between hardwired demo and template integrated */
/* All demo css files will nedd to be integrated via less */        
#legend{                    /* For hard wired demo */
	position:absolute;
	width:80x;
	height:200px;
	top:460px;
	left:510px;
	z-index:1;
}

#legend_chart{              /* For template integrated - positioning is different */
	/*position:absolute;*/
        position:relative;
	width:80x;
	height:200px;
	top:-190px;
        margin-right:5px;
        float:right;
	/*left:650px;*/
	z-index:1;
}
